

body{
    margin: 0;
    border: 0;
}

.page-wrapper{
    width: 100%;
    margin-left: auto;
    margin-right: auto;


}
/* ================Navigation============================*/
.nav-row {
    width: 120px;
    float: left;
}

.name-nav{
    padding-left: 12px;
    padding-top: 20px;
    color: white;
    font-size: 8px;
}

.nav-column{
    height: 500px;
    background-color: #c55244;
    width: 100px;
    margin-top: 30px;

}

.nav-content{
    color: white;
    font-size: 6px;
    list-style: none;
    padding: 10px;

}
.nav-content>*{
    padding: 2px;
}

/* ================Title============================*/

.title-row{
    font-family: "Trebuchet MS";
    margin-top: 6px;
    font-size: 8px;
    float: left;
}

.showcase{
    color:#c55244;
    font-family: "Trebuchet MS";
    font-size: 8px;
    right: 212.7px;
    top: 50px;
}

.divider{
    top: 80px;
    right: 255px;
    width: 16px;
    height: 2.5px;
    border-radius: 3px;
    background-color: #c55244;
}
.images{
    width: 120px;
}


.atrium{
    width: 120px;
    display: flex;
}