

body{
    margin: 0;
    border: 0;
}

.page-wrapper{
    width: 100%;

}
/* ================Navigation============================*/
.nav-row {
    width: 100px;
    float: left;
}

.name-nav{
    padding-left: 8px;
    padding-top: 25px;
    color: white;
    font-size: 7.5px;
}

.nav-column{
    height: 500px;
    background-color: #c55244;
    width: 75px;
    margin-top: 25px;
}

.nav-content{
    color: white;
    font-size: 6px;
    list-style: none;
    padding: 6px;

}
.nav-content>*{
    padding: 2px;
}

/* ================Title============================*/

.divider{
    position: relative;
    z-index: 3;
    top: -1px;
    display: inline-block;
    height: 2.5px;
    width: 16px;
    border-radius: 2px;
    background-color: #c55244;
}

.title-row {
    font-family: "Trebuchet MS";
    font-size: 8px;
    position: relative;
    bottom: -15px;
}

.showcase{
    margin-top: 20px;
    color:#c55244;
    font-family: "Trebuchet MS";
    font-size: 8px;
}



/*---Images---*/

.images{
    position: relative;
    z-index: 4;
    top: -441px;
    right: -100px;
    width: 100px;
}
.image-row{
    position: relative;
    z-index: 1;
    top: -685.5px;
    right: -224px;
    width: 120px;

}

.bedroom{
    width: 120px;
    margin: auto;
}
.diningroom{
    width: 120px;
    margin: auto;
}
.kitchen{
    margin: auto;
    width: 120px;

}
.livingroom{
    width: 120px;
    margin: auto;
}
.livingroom2{
    width: 120px;
    margin: auto;
}
.atrium{
    width: 120px;

}

/*--------Services Wrapper-----------*/

.services-wrapper{
    width: 300px;
    display: flex;
flex-direction: column;
}
.services-title{
font-size: 10px;
}

.body-services{
    font-size: 8px;
}